tools/gateways/node-red-flow.json
[
    {
        "id": "nexus_flow_tab",
        "type": "tab",
        "label": "Nexus BMS Gateway",
        "disabled": false,
        "info": "Example flow: poll a Modbus power meter every 60s and POST to Nexus BMS REST API."
    },
    {
        "id": "nexus_inject_60s",
        "type": "inject",
        "z": "nexus_flow_tab",
        "name": "Every 60s",
        "props": [{"p": "payload"}],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 5,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [["nexus_modbus_read"]]
    },
    {
        "id": "nexus_modbus_read",
        "type": "modbus-read",
        "z": "nexus_flow_tab",
        "name": "PM5560 Total kWh",
        "topic": "",
        "showStatusActivities": false,
        "logIOActivities": false,
        "showErrors": true,
        "unitid": "1",
        "dataType": "HoldingRegister",
        "adr": "3203",
        "quantity": "2",
        "rate": "60",
        "rateUnit": "s",
        "delayOnStart": false,
        "startDelayTime": "",
        "server": "modbus_server_config",
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "x": 320,
        "y": 100,
        "wires": [["nexus_decode_float"], []]
    },
    {
        "id": "nexus_decode_float",
        "type": "buffer-parser",
        "z": "nexus_flow_tab",
        "name": "Decode float32 BE",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "floatbe",
                "name": "kwh",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fewerResults": false,
        "setTopic": true,
        "x": 540,
        "y": 100,
        "wires": [["nexus_build_body"]]
    },
    {
        "id": "nexus_build_body",
        "type": "function",
        "z": "nexus_flow_tab",
        "name": "Build POST body",
        "func": "msg.url = `${env.get('NEXUS_URL')}/api/iot/meter/${encodeURIComponent('Tower-A-MDB')}/reading`;\nmsg.headers = {\n    'Content-Type': 'application/json',\n    'X-API-Token': env.get('NEXUS_TOKEN'),\n    'Accept': 'application/json'\n};\nmsg.payload = { value: msg.payload.kwh };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 100,
        "wires": [["nexus_http_post"]]
    },
    {
        "id": "nexus_http_post",
        "type": "http request",
        "z": "nexus_flow_tab",
        "name": "POST to Nexus",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 940,
        "y": 100,
        "wires": [["nexus_debug"]]
    },
    {
        "id": "nexus_debug",
        "type": "debug",
        "z": "nexus_flow_tab",
        "name": "Nexus response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 100,
        "wires": []
    },
    {
        "id": "modbus_server_config",
        "type": "modbus-client",
        "name": "Power Meter (PM5560)",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "192.168.1.100",
        "tcpPort": "502",
        "tcpType": "DEFAULT",
        "serialPort": "",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    }
]
